// imports
@import 'colors';

// general styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// main container - the "outer" quote box
#quote-box {
  background-color: $primary-color;
  padding: 3em;
  border-radius: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50vw;

  .error {
    color: #ff0000;
  }

  // the InnerQuoteBox component
  .innerQBox {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2,
    p {
      margin: 1em;
    }

    h2 {
      align-self: flex-start;
    }

    p {
      align-self: flex-end;
      font-style: italic;
    }
  }

  // the Buttons component
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    button {
      background-color: $bg-color;
      color: $primary-color;
      border: none;
      border-radius: 3px;

      padding: 1em;
      font-size: 1em;
    }

    button:active,
    button:hover,
    button:focus {
      outline: none;
    }

    button:active {
      transform: scale(0.98);
    }

    a {
      text-decoration: none;
      background-color: $bg-color;
      color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      border-radius: 3px;
      padding: 0.3em;
      width: 2em;
    }
  }
}

// mobile responsivity

@media screen and (max-width: 768px) {
  #quote-box {
    max-width: 80vw;
    padding: 2em;
    font-size: 0.9em;

    .buttons {
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 480px) {
  #quote-box {
    padding: 1em;
    font-size: 0.7em;
  }
}
